/* set up the rows */
.firstRow,
.secondRow,
.thirdRow {
  display: flex;
  justify-content: center;
}

/* set up the columns */
.first,
.second,
.third{
  width: 150px;
  height: 150px;
  font-size: 130px;
  text-align: center;
  padding-bottom: 20px;
}
.firstRow .first,
.firstRow .second,
.secondRow .first,
.secondRow .second {

  border-bottom: 8px solid rgb(16, 126, 217);
  border-right: 8px solid rgb(16, 126, 217);
}
.firstRow .third,
.secondRow .third {
  border-bottom: 8px solid rgb(16, 126, 217);
}

.thirdRow .first,
.thirdRow .second{
  border-right: 8px solid rgb(16, 126, 217);
}
.container{
  margin: 80px;
  margin-top: 65px;
}

.title{
  text-align: center;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(0, 2, 104);
  border: 12px solid rgb(18, 38, 93);
  width: 575px;
  margin: auto;
  border-radius: 50px;
  background-color: rgb(119, 142, 205);
  margin-bottom: 15px;
}

.first:hover,
.second:hover,
.third:hover{
  background-color: rgb(99 116 115);
  cursor:pointer;
}

button {
  text-align: center;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  width: 330px;
  border-radius: 30px;
  background-color: aqua;
  color: rgb(19, 3, 111);
  margin: auto;
  display: block;
  margin-top: 30px;
}

button:hover {
  background-color: rgb(75, 43, 194);
  color:rgb(1, 0, 32);
  cursor:pointer;
}
.win {
  color: rgb(157 160 240 / 33%);
  background-color: #0d1251;
  font-size: 150px;
}

#buttons{
  display: flex;
  justify-content:space-evenly;
}